<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="SeleniumTestNGSuite" parallel="methods" thread-count="3" >

    <test name="ChromeTest">
        <classes>
            <class name="org.andestech.learning.rfb19.g3.ChromeAppTest" />
            <class name="org.andestech.learning.rfb19.g3.FirefoxAppTest"/>
            <class name="org.andestech.learning.rfb19.g3.EdgeAppTest" />
        </classes>
    </test>
</suite>
